*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector{
    width: 350px;
}
#selectField{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    cursor: pointer;
}

#selectField img{
    width: 12px;
    transition: all 0.5s;
}

#list{
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    overflow: hidden;
}

.options{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
}

.options img{
    width: 25px;
}

.options:hover{
    transition: all 0.4ms;
    background: rgba(255, 255, 255, 0.7);
}

.hide{
    visibility: hidden;
}

.rotate{
    transform: rotate(180deg);
}