*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #191919;
}

.main{
    width: 900px;
    display: flex;
    overflow: scroll;
}

.main div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}


.main div img{
    width: 100%;

}

.main::-webkit-scrollbar{
    display: none;
}


.main-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}


#backBtn , #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.main div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
}

.main div img{
    filter: grayscale(100%);
    cursor: pointer;
    transition: .5s;
}